node_modules
.env
.env.*

tsconfig.tsbuildinfo
next-env.d.ts

# Hardhat files
/cache
/artifacts
/frontend/node_modules
/frontend/package-lock.json
/frontend/.next

# TypeChain files
/typechain
/typechain-types

# Hardhat Ignition default folder for deployments against a local node
contract/deployments
.DS_Store
.vscode
openzeppelin-contracts
forge-std
erc4626-tests
halmos-cheatcodes
